@model List<MRBLACK.Models.Database.Membership>
@using MRBLACK.Models.Enums
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;
    var memUsers = ViewBag.MembershipUsers as Dictionary<int,int>;
}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>
            <a href="~/Images/@item.ImgPath" target="_blank">
                <img src="~/Images/@item.ImgPath" width="50" height="50" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            @if (item.MembershipType == (int)MembershipType.Student)
            {
                <span>طالب</span>
            }
            else if (item.MembershipType == (int)MembershipType.Provider)
            {
                <span>مقدم خدمة</span>
            }
            else if (item.MembershipType == (int)MembershipType.Advertiser)
            {
                <span>معلن</span>
            }
        </td>
        <td>
            @memUsers.FirstOrDefault(c => c.Key == item.Id).Value
        </td>
        <td>
            <a class="btn btn-info" href="/Membership/Edit/@item.Id">
                <i class="fa fa-edit"></i><span>  تعديل</span>
            </a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Membership/Delete/@item.Id')">
                <i class="fa fa-trash"></i><span>  حذف</span>
            </button>
        </td>
    </tr>
    i++;
}
