@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "الصفحة الرئيسية";
}
<button type="button" class="btn btn-buy" onclick="BackToPreviousPage()"><i class="fa fa-forward"></i> العودة للصفحة السابقة</button>
