@model List<MRBLACK.Models.Database.CurrencyType>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueInPound)
        </td>
        <td>
            @if (!item.IsMainCurrency)
            {
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/CurrencyType/Edit/@item.Id')">
                    <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/CurrencyType/Delete/@item.Id')">
                    <i class="fa fa-trash"></i>
                </button>
            }
            else
            {
                <span class="text-info">لا يمكن حذف او تعديل هذه العملة</span>
            }
        </td>
    </tr>
}
