@model MRBLACK.Models.Database.CurrencyType

@{
    Layout = null;
}

<form asp-action="@ViewBag.ActionName" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">اضافة/تعديل عملة</h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row">
                        <input asp-for="EnName" class="enText form-control" placeholder="الاسم بالانجليزية" />
                        <span asp-validation-for="EnName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <input asp-for="ArName" class="arText form-control" placeholder="الاسم بالعربية" />
                        <span asp-validation-for="ArName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <input asp-for="ValueInPound" class="form-control" placeholder="قيمة العملة بالجنيه" />
                        <span asp-validation-for="ValueInPound" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">اغلاق</button>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>
</form>

<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}

<script type="text/javascript" src="~/js/site.js"></script>