@model List<MRBLACK.Models.ViewModels.ProvidersInIndexVm>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
            @if (string.IsNullOrEmpty(item.ImageUrl))
            {
                <img src="~/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
            }
            else
            {
                <img src="~/Uploads/Images/Users/@item.ImageUrl" class="img-fluid" alt="">
            }
            <div class="member-content">
                <h4>@item.Name</h4>

                <p>
                    @item.Description
                </p>
                <div class="trainer-rank d-flex align-items-center">
                    <i class='bx bxs-star'></i><span>@item.Rate</span>

                </div>
            </div>
        </div>
    </div>
}
