@model List<MRBLACK.Areas.Identity.Data.IdentitySetupRole>
@{
    Layout = null;
    var i = ViewBag.PageStartRowNum;
}

@foreach (var item in Model)
{
    <tr>
        <td>@i</td>
        <td>ROL_@item.Id</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArName)
        </td>
        <td>
            @if (item.CanBeEditedOrDeleted)
            {
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Role/Edit/@item.Id')">
                    <i class="fa fa-edit"></i><span>  تعديل</span>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Role/Delete/@item.Id')">
                    <i class="fa fa-trash"></i><span>  حذف</span>
                </button>
            }
            else
            {
                <span class="text-info">لا يمكن حذف او تعديل هذا الدور</span>
            }
        </td>
        <td>
            @*/Role/RoleUsers/@item.Id"*@
            <a class="btn btn-success" href="#"><i class="fa fa-users"></i></a>
        </td>
    </tr>
    i++;
}
