@model MRBLACK.Helper.PagedList<MRBLACK.Models.Database.Subject>
@using MRBLACK.Models.ViewModels;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var paginationVM = new PaginationVM()
    {
        PageIndex = Model.PageIndex,
        TotalPages = Model.TotalPages,
        PreviousPage = Model.PreviousPage,
        NextPage = Model.NextPage,
        GetItemsUrl = "/Subject/GetItems",
        GetPaginationUrl = "/Subject/GetPagination",
        ItemsCount = Model.ItemsCount,
        StartIndex = Model.StartIndex,
        EndIndex = Model.EndIndex
    };
}

<h1 class="text-center">شاشة المواد</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#flipFlop" onclick="FillPopup('/Subject/Create')">
                    <i class="fa fa-plus"></i><span>  اضافة جديد</span>
                </button>
                
            </div>
            <partial name="_TableNavbar" model="@Model.PageIndex" />
        </div>
        
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="bg-blue">
                    <tr>
                        <td>#</td>
                        <td>الاسم بالانجليزية</td>
                        <td>الاسم بالعربية</td>
                        <td>مجموعة - كلية - جامعة - دولة</td>
                        <td>عدد الخدمات</td>
                        <td>عدد الطلبات</td>
                        <td>الشعار</td>
                        <td>الاجراءات</td>
                    </tr>
                </thead>
                <tbody id="tbBody">
                    <partial name="_TableList" model="@Model.ToList()" />
                </tbody>
            </table>
            <div id="dvPagination">
                <partial name="_Pagination" model="@paginationVM" />
            </div>
        </div>
        
    </div>
</div>

