@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs aos-init aos-animate" data-aos="fade-in">
        <div class="container">
            <h2>Login</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <section class="login section-bg">
        <div class="form-modal">

            <div class="form-toggle">
                <button id="login-toggle" type="button">log in</button>
                <button id="signup-toggle" onclick="RedirectToSignUp()" type="button">sign up</button>
            </div>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Email" type="text" placeholder="Enter email or mobile number">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" type="password" placeholder="Enter password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <button type="submit" class="btn login">login</button>
                <p><a asp-page="./ForgotPassword">Forgot password</a></p>

            </form>
        </div>

    </section>

</main>

<script>
    function RedirectToSignUp() {
        window.location.href = "/Identity/Account/Register";
    }
</script>
@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
