@model MRBLACK.Models.Database.Country

@{
    Layout = null;
}

<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">اضافة/تعديل دولة</h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImgPath" />
                    <div class="form-group row">
                        <label class="col-lg-3">الاسم بالانجليزية</label>
                        <input asp-for="EnName" class="enText col-lg-9 form-control" placeholder="الاسم بالانجليزية" />
                        <span asp-validation-for="EnName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">الاسم بالعربية</label>
                        <input asp-for="ArName" class="arText col-lg-9 form-control" placeholder="الاسم بالعربية" />
                        <span asp-validation-for="ArName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">كود الدولة</label>
                        <input asp-for="CountryCode" class="col-lg-9 form-control" placeholder="قم بأدخال كود هاتف الدولة" />
                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">العملة</label>
                        <select class="col-lg-9 form-control" data-live-search="true" asp-for="CurrencyTypeId" asp-items="@ViewBag.CurrencyTypeList">
                            <option selected disabled>اختر عملة الدولة</option>
                        </select>
                        <span asp-validation-for="CurrencyTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3">العلم</label>
                        <input name="img" id="img" class="col-lg-9 form-control" type="file" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">اغلاق</button>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>
</form>


<!-- ClientSide Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}

<script type="text/javascript" src="~/js/site.js"></script>

<script type="text/javascript">
    
    $("#CountryCode").on("keypress", function (event) {
        var key = String.fromCharCode(event.which);
        if (key == "0" || key == "1" || key == "2" || key == "3" || key == "4" || key == "5"
            || key == "6" || key == "7" || key == "8" || key == "9"
            || key == "+" || key == "-" || key == ",") {
            return true;
        }

        return false;
    });

    $('#CountryCode').on("paste", function (e) {
        e.preventDefault();
    });
</script>