@model MRBLACK.Models.Database.ServiceCategory

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var display1 = "none";
    var display2 = "none";
    if(Model.Id > 0)
    {
        if (Model.PricingMethod == 1)
        {
            display1 = "";
            display2 = "none";
        }
        else if (Model.PricingMethod == 2)
        {
            display1 = "none";
            display2 = "";
        }
    }
}

@if(Model.ParentCategoryId != null)
{
<style>
    #FormType, #PricingMethod, #ServicePrice, #PlatformRevenueFromServPrice, #CommissionPercentage, #CurrencyTypeId, #AutoAcceptedService{
        pointer-events:none;
    }
</style>
}
<!-- ClientSide Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<form asp-action="@ViewBag.ActionName" method="post" enctype="multipart/form-data">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="text-center">اضافة/تعديل تصنيف خدمة</h2>
        </div>
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImgPath" />
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="EnName">الاسم بالانجليزية</label>
                    <input asp-for="EnName" class="form-control" placeholder="الاسم بالانجليزية" />
                    <span asp-validation-for="EnName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ArName">الاسم بالعربية</label>
                    <input asp-for="ArName" class="form-control" placeholder="الاسم بالعربية" />
                    <span asp-validation-for="ArName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ParentCategoryId">الصنف الرئيسي</label>
                    <select class="form-control" data-live-search="true" asp-for="ParentCategoryId" asp-items="@ViewBag.ParentCategoryList">
                        <option value="-1" selected disabled>اختر الصنف الرئيسي</option>
                    </select>
                    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="FormType">نوع الفورمة للخدمات المضافة تحت  هذا التصنيف</label>
                    <select class="form-control" data-live-search="true" asp-for="FormType">
                        <option disabled selected value="-1">اختر الفورمة</option>
                        <option value="1">حل واجب</option>
                        <option value="2">بحث</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label asp-for="PricingMethod">نوع التسعير</label>
                    <select asp-for="PricingMethod" class="form-control" data-live-search="true" onchange="ChangePricingMethod()">
                        <option selected value="-1" disabled>اختر نوع التسعر</option>
                        <option value="1">جبري</option>
                        <option value="2">عمولة</option>
                    </select>
                    <span asp-validation-for="PricingMethod" class="text-danger"></span>
                </div>
                <div class="col-sm-6" id="dvServicePrice" style="display:@display1">
                    <label asp-for="ServicePrice">سعر الخدمة</label>
                    <input asp-for="ServicePrice" class="form-control" placeholder="سعر الخدمة" />
                    <span asp-validation-for="ServicePrice" class="text-danger"></span>
                </div>
                <div class="col-sm-6" id="dvPlatformRevenueFromServPrice" style="display:@display1">
                    <label asp-for="PlatformRevenueFromServPrice">مبلغ المنصة من سعر الخدمة</label>
                    <input asp-for="PlatformRevenueFromServPrice" class="form-control" placeholder="مبلغ المنصة من سعر الخدمة" />
                    <span asp-validation-for="PlatformRevenueFromServPrice" class="text-danger"></span>
                </div>
                <div class="col-sm-6" id="dvCommissionPercentage" style="display:@display2">
                    <label asp-for="CommissionPercentage">عمولة المنصة من سعر الخدمة</label>
                    <input asp-for="CommissionPercentage" class="form-control" placeholder="عمولة المنصة" />
                    <span asp-validation-for="CommissionPercentage" class="text-danger"></span>
                </div>
                @*<div class="col-sm-6" id="dvCurrencyTypeId" style="display:@display1">
                    <label asp-for="CurrencyTypeId">نوع العملة</label>
                    <select asp-for="CurrencyTypeId" asp-items="@ViewBag.CurrencyTypeList" class="form-control" data-live-search="true">
                        <option selected disabled value="-1">اختر نوع العملة</option>
                    </select>
                    <span asp-validation-for="CurrencyTypeId" class="text-danger"></span>
                </div>*@
                <div class="col-sm-6">
                    <label for="img">صورة التصنيف</label>
                    <input id="img" class="form-control" type="file" name="img"/>
                    <span for="img" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mt-40">
                    <input type="checkbox" asp-for="AutoAcceptedService" />
                    <label asp-for="AutoAcceptedService">قبول تلقائي لخدمات هذا الصنف؟</label>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-info" href="/ServiceCategory/Index">عودة للقائمة</a>
            <input type="submit" value="حفظ" class="btn btn-success" />
        </div>
    </div>

</form>


<script type="text/javascript">
    function ChangePricingMethod() {
        var elementval = $("#PricingMethod").val();
        if (elementval == 1) {
            document.getElementById("dvServicePrice").style.display = "";
            document.getElementById("dvPlatformRevenueFromServPrice").style.display = "";
            //document.getElementById("dvCurrencyTypeId").style.display = "";
            document.getElementById("dvCommissionPercentage").style.display = "none";
        }
        else {
            document.getElementById("dvServicePrice").style.display = "none";
            document.getElementById("dvPlatformRevenueFromServPrice").style.display = "none";
            //document.getElementById("dvCurrencyTypeId").style.display = "none";
            document.getElementById("dvCommissionPercentage").style.display = "";
        }
    }
   
    $("#ParentCategoryId").change(function () {
        var categoryId = $(this).val();
        
        $.ajax({
            url: "/ServiceCategory/GetParentCategoryDetails",
            type: "get",
            data: { categoryId: categoryId },
            success: function (result) {
                var jsonResult = JSON.parse(result);
                $("#FormType").val(jsonResult.FormType);
                $("#FormType").css("pointer-events", "none");
                $("#PricingMethod").val(jsonResult.PricingMethod);
                $("#PricingMethod").css("pointer-events", "none");
                $("#ServicePrice").val(jsonResult.ServicePrice);
                $("#ServicePrice").css("pointer-events", "none");
                $("#PlatformRevenueFromServPrice").val(jsonResult.PlatformRevenueFromServPrice);
                $("#PlatformRevenueFromServPrice").css("pointer-events", "none");
                $("#CommissionPercentage").val(jsonResult.CommissionPercentage);
                $("#CommissionPercentage").css("pointer-events", "none");
                //$("#CurrencyTypeId").val(jsonResult.CurrencyTypeId);
                //$("#CurrencyTypeId").css("pointer-events", "none");
                $("#AutoAcceptedService").val(jsonResult.AutoAcceptedService);
                if (jsonResult.AutoAcceptedService == false) {
                    $("#AutoAcceptedService").removeAttr("checked");
                }
                else {
                    $("#AutoAcceptedService").prop("checked",true);
                }
                $("#AutoAcceptedService").css("pointer-events", "none");

                ChangePricingMethod();
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
